  <div class="sidebar"> <img src="assets/images/logo.png" alt="" class="logo"/>
    <div class="clearfix"></div>
    <ul class="menu">
      <li><a href="#/"><img src="assets/images/dashboard-32.png" alt=""/> Dashboard</a></li>
      <li><a href="#Resource Allocation"><img src="assets/images/resource-allocation.png" alt=""/> Resource Allocation</a></li>
      <li><a href="#SMART"><img src="assets/images/SMART.png" alt=""/> SMART</a></li>
      <li><a href="#Cogitate Team Section"><img src="assets/images/Team.png" alt=""/> Cogitate Team Section</a></li>
      <li><a href="#Project Owner"><img src="assets/images/project-owner.png" alt=""/> Project Owner</a></li>
      <li><a href="#Code Review"><img src="assets/images/code-review.png" alt=""/> Code Review</a></li>
      <li><a href="#Leave Section"><img src="assets/images/leave-section.png" alt=""/> Leave Section</a></li>
    </ul>
  </div>