<div class="panel_header">SMART Statistics </div>
      <div class="panel_conainter">
<table width="100%" border="0" class="table table-bordered table-striped" cellspacing="0" cellpadding="0" ng-controller="LatestStatistics">
          <thead>
            <tr>
              <td><strong>Sr No.</strong></td>
              <td><strong>Comment</strong></td>
              <td><strong>Comments Date</strong></td>
              <td><strong>Project Status</strong></td>
              <td><strong>Open/Total Defect Count</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in names">
              <td class="text-center">{{$index +1}}</td>
              <td>{{x.Comments}}</td>
              <td class="text-center">{{x.CommentsDate}}</td>
              <td class="text-center"><i class="fa fa-circle {{x.Indicator}}" aria-hidden="true"></i></td>
              <td class="text-center">{{x.TotalDefects}}</td>
            </tr>
          </tbody>
        </table>
        </div>